nlc_simple/code.json
[{"id":"34874f7.30034b","type":"debug","z":"87261750.75f748","name":"","active":true,"console":"false","complete":"payload","x":789,"y":247,"wires":[]},{"id":"50dde48a.9c275c","type":"watson-natural-language-classifier","z":"87261750.75f748","name":"","mode":"classify","language":"en","classifier":"YOUR CLASSIFIER ID","x":522,"y":257,"wires":[["34874f7.30034b"]]},{"id":"d359701b.6b225","type":"inject","z":"87261750.75f748","name":"","topic":"","payload":"need to sleep?","payloadType":"str","repeat":"","crontab":"","once":false,"x":222,"y":267,"wires":[["50dde48a.9c275c"]]}]