alchemy_feature_extraction/code.json
[{"id":"8e8ff997.0fc448","type":"inject","z":"500e8ed6.02079","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":201,"y":128,"wires":[["c8e76a99.727378"]]},{"id":"18608fd4.228ac","type":"alchemy-feature-extract","z":"500e8ed6.02079","name":"Extract","page-image":"","image-kw":"","feed":"","entity":"","keyword":true,"title":"","author":false,"taxonomy":"","concept":false,"relation":"","pub-date":"","doc-sentiment":false,"x":432,"y":118,"wires":[["cf5fa48d.fce1c8"]]},{"id":"cf5fa48d.fce1c8","type":"debug","z":"500e8ed6.02079","name":"","active":true,"console":"false","complete":"features","x":665,"y":117,"wires":[]},{"id":"c8e76a99.727378","type":"function","z":"500e8ed6.02079","name":"","func":"msg.payload = \"http://indianexpress.com/article/india/india-news-india/december-16-delhi-gangrape-convict-took-heavy-dose-of-anti-depressants-before-attempting-suicide-2995185/\"\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":213,"wires":[["18608fd4.228ac"]]},{"id":"d618d436.21c948","type":"inject","z":"500e8ed6.02079","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":184,"y":290,"wires":[["2a61364b.f6e87a"]]},{"id":"2a61364b.f6e87a","type":"http request","z":"500e8ed6.02079","name":"","method":"GET","ret":"txt","url":"http://www.wsj.com/articles/worlds-first-self-driving-taxis-hit-the-road-in-singapore-1472102747","tls":"","x":385,"y":291,"wires":[["18608fd4.228ac"]]}]