vr_simple/code.json
[{"id":"15bed51f.099e9b","type":"template","z":"3f97ced2.9410b2","name":"HTML Input Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Visual Recognition Demo on Node-RED</h1>\n<h2>Type a image URL</h2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    Url: <input type=\"text\" name=\"url\"/><br/>\n    <input type=\"submit\" value=\"Classify\"/>\n</form>\n","x":671,"y":217,"wires":[["87163a8b.9095d8"]]},{"id":"851f7b60.d41108","type":"http in","z":"3f97ced2.9410b2","name":"","url":"/classify","method":"get","swaggerDoc":"","x":113,"y":140,"wires":[["bf7fc0f.ec81c4"]]},{"id":"87163a8b.9095d8","type":"http response","z":"3f97ced2.9410b2","name":"HTTP Response","x":980,"y":239,"wires":[]},{"id":"bf7fc0f.ec81c4","type":"switch","z":"3f97ced2.9410b2","name":"Check image param","property":"payload.url","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":208,"y":222,"wires":[["15bed51f.099e9b"],["90c3473b.a6ccf8"]]},{"id":"90c3473b.a6ccf8","type":"function","z":"3f97ced2.9410b2","name":"Classify","func":"msg.imageurl = encodeURI(msg.payload.url)\nmsg.url=\"https://gateway-a.watsonplatform.net/visual-recognition/api/v3/classify?api_key={YOUR_API_KEY}&url=\"+msg.imageurl+\"&version=2016-05-19\";\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":324,"wires":[["2a21af75.e4e81"]]},{"id":"2a21af75.e4e81","type":"http request","z":"3f97ced2.9410b2","name":"","method":"GET","ret":"obj","url":"","x":329,"y":430,"wires":[["d9e84fca.b82db","e76e4525.d773b8"]]},{"id":"e76e4525.d773b8","type":"debug","z":"3f97ced2.9410b2","name":"JSON RESULT","active":true,"console":"false","complete":"true","x":523.5,"y":466,"wires":[]},{"id":"d9e84fca.b82db","type":"function","z":"3f97ced2.9410b2","name":"Set Header for HTML","func":"msg.imageclasses = msg.payload;\nmsg.headers = {'Content-Type' : 'text/html'};\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":369,"wires":[["129f9e4a.5e6bd2","f2537a7e.0ec7c8"]]},{"id":"129f9e4a.5e6bd2","type":"debug","z":"3f97ced2.9410b2","name":"Image Data","active":true,"console":"false","complete":"imageclasses","x":712,"y":413,"wires":[]},{"id":"f2537a7e.0ec7c8","type":"template","z":"3f97ced2.9410b2","name":"HTML Classification Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition on Node-RED</h1>\n{{#imageclasses}}\n    {{#images}}\n        <div><img src=\"{{imageurl}}\" height='100'/></div>\n        <div>{{image}}</div>\n        <br/>\n        <table border='1'>\n            <thead>\n                <tr><th>Class</th><th>Score</th></tr>\n            </thead>\n            <tbody>\n            {{#classifiers}}\n                {{#classes}}\n                    <tr>\n                        <td>\n                            {{class}}\n                        </td>\n                        <td>\n                            {{score}}\n                        </td>\n                    </tr>\n                {{/classes}} \n             {{/classifiers}}\n                {{^classifiers}}\n                    <tr>\n                        <td colspan=\"2\">\n                            No match to classification\n                        </td>\n                    </tr>\n                {{/classifiers}}                \n            </tbody>\n        </table>\n    {{/images}}    \n{{/imageclasses}}\n","x":708,"y":289,"wires":[["87163a8b.9095d8"]]}]