chatbot/logic.json
[{"id":"664b8087.dc912","type":"http in","z":"8f884993.a9a7d8","name":"","url":"/<Your Bot Command>","method":"post","swaggerDoc":"","x":176,"y":828,"wires":[["5ff8f352.4f443c"]]},{"id":"5ff8f352.4f443c","type":"switch","z":"8f884993.a9a7d8","name":"","property":"payload.token","propertyType":"msg","rules":[{"t":"eq","v":"kS1bT1CLCxAPE9l4a93uJhdd","vt":"str"}],"checkall":"true","outputs":1,"x":365,"y":760,"wires":[["579562ca.fcd7cc"]]},{"id":"579562ca.fcd7cc","type":"function","z":"8f884993.a9a7d8","name":"Extract Text","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":523,"y":809,"wires":[["1697ba4b.dccce6"]]},{"id":"1697ba4b.dccce6","type":"watson-conversation-v1","z":"8f884993.a9a7d8","name":"","workspaceid":"Your Token","multiuser":false,"context":false,"x":640,"y":753,"wires":[["c14d7a00.8e1068"]]},{"id":"c14d7a00.8e1068","type":"debug","z":"8f884993.a9a7d8","name":"","active":true,"console":"false","complete":"false","x":711,"y":850,"wires":[]}]